[Unit]
Description=OpenSearch Prometheus Exporter
After=network.target opensearch.service
Wants=opensearch.service

[Service]
User=opensearch
Group=opensearch
EnvironmentFile=/etc/default/opensearch-exporter
ExecStart={{ opensearch_exporter_binary }} --es.uri=http://${ES_USERNAME}:${ES_PASSWORD}@${ES_HOST}:${ES_PORT} --es.all --es.indices --es.shards --collector.clustersettings --web.listen-address=:{{ opensearch_exporter_port }} --web.telemetry-path=/metrics --log.level=info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
