---
_meta:
  type: "config"
  config_version: 2

config:
  dynamic:
    http:
      anonymous_auth_enabled: false
      xff:
        enabled: false
    authc:
      basic_internal_auth_domain:
        description: "Authenticate via HTTP Basic against internal users database"
        http_enabled: true
        transport_enabled: true
        order: 0
        http_authenticator:
          type: basic
          challenge: false
        authentication_backend:
          type: intern
{% if opensearch_enable_sso | bool and opensearch_auth_type == 'openid' %}
      openid_auth_domain:
        description: "Authenticate via OpenID Connect"
        http_enabled: true
        transport_enabled: true
        order: 1
        http_authenticator:
          type: openid
          challenge: false
          config:
            subject_key: "{{ opensearch_openid_subject_key | default('preferred_username') }}"
            roles_key: "{{ opensearch_openid_roles_key | default('roles') }}"
            openid_connect_url: "{{ opensearch_openid_connect_url }}"
        authentication_backend:
          type: noop
{% endif %}
