{
  "index_patterns": ["*"],
  "template": {
    "settings": {
      "number_of_shards": {{ opensearch_number_of_shards }},
      "number_of_replicas": {{ opensearch_number_of_replicas }}
    }
  },
  "priority": 0
}
