-Xms{{ opensearch_heap_size_min }}
-Xmx{{ opensearch_heap_size_max }}

-XX:+Use{{ opensearch_jvm_options_gc_type }}

{% if opensearch_jvm_options_gc_log_enabled %}
-Xlog:gc*,gc+age=trace,safepoint:file={{ opensearch_log_dir }}/gc.log:utctime,pid,tags:filecount=32,filesize=64m
{% endif %}

{% if opensearch_jvm_options_heap_dump_on_oom %}
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath={{ opensearch_jvm_options_heap_dump_path }}
{% endif %}

-Djava.security.policy=plugin-security.policy
-Djava.awt.headless=true
