# ===========================
# OpenSearch Dashboards Configuration
# Managed by Ansible
# ===========================

server.port: {{ opensearch_dashboards_port }}
server.host: "{{ opensearch_dashboards_host }}"

# ===========================
# OpenSearch Connection
# ===========================

{% if opensearch_use_tls | bool %}
opensearch.hosts:
  - "https://{{ opensearch_dashboards_opensearch_host }}"

opensearch.ssl.verificationMode: none
opensearch.ssl.certificateAuthorities:
  - /etc/opensearch/certs/chain.pem

{% else %}
opensearch.hosts:
  - "http://{{ opensearch_dashboards_opensearch_host }}"
{% endif %}

# ===========================
# BACKEND SERVICE AUTH
# ===========================

opensearch.username: "{{ opensearch_kibanaserver_username }}"
opensearch.password: "{{ opensearch_kibanaserver_password }}"

# ===========================
# UI Security
# ===========================

opensearch_security.enabled: true
opensearch_security.auth.type: "basicauth"

# ===========================
# TLS (Browser → Dashboards)
# ===========================

{% if opensearch_use_tls | bool %}
server.ssl.enabled: true
server.ssl.certificate: /etc/opensearch/certs/fullchain.pem
server.ssl.key: /etc/opensearch/certs/privkey.pem
{% else %}
server.ssl.enabled: false
{% endif %}
