# ===========================
# Security Plugin
# ===========================

plugins.security.disabled: false

plugins.security.allow_default_init_securityindex: true
plugins.security.system_indices.enabled: true

plugins.security.restapi.roles_enabled:
  - all_access
  - security_rest_api_access

{% if opensearch_use_tls | bool %}

#  REQUIRED LINE
plugins.security.allow_unsafe_democertificates: false


# ===========================
# Transport TLS
# ===========================

plugins.security.ssl.transport.enabled: true
plugins.security.ssl.transport.pemcert_filepath: "{{ opensearch_transport_node_cert_path }}"
plugins.security.ssl.transport.pemkey_filepath: "{{ opensearch_transport_node_key_path }}"
plugins.security.ssl.transport.pemtrustedcas_filepath: "{{ opensearch_transport_root_ca_path }}"
plugins.security.ssl.transport.enforce_hostname_verification: false


# ===========================
# HTTP TLS
# ===========================

plugins.security.ssl.http.enabled: true
plugins.security.ssl.http.pemcert_filepath: "{{ opensearch_node_cert_path }}"
plugins.security.ssl.http.pemkey_filepath: "{{ opensearch_node_key_path }}"
plugins.security.ssl.http.pemtrustedcas_filepath: "{{ opensearch_root_ca_path }}"

{% else %}

plugins.security.allow_unsafe_democertificates: true

plugins.security.ssl.transport.enabled: true
plugins.security.ssl.transport.pemcert_filepath: esnode.pem
plugins.security.ssl.transport.pemkey_filepath: esnode-key.pem
plugins.security.ssl.transport.pemtrustedcas_filepath: root-ca.pem

plugins.security.ssl.http.enabled: false

{% endif %}
