# OpenSearch Environment Variables
# This file is managed by Ansible

PID_DIR=/run/opensearch
OPENSEARCH_PATH_CONF={{ opensearch_config_dir }}
OPENSEARCH_INITIAL_ADMIN_PASSWORD={{ opensearch_admin_password }}

# Additional JVM settings can be added here
# OPENSEARCH_JAVA_OPTS="-Xms512m -Xmx512m"
