[Unit]
Description=OpenSearch Prometheus Exporter
After=network.target opensearch.service
Wants=opensearch.service

[Service]
User=opensearch
Group=opensearch
ExecStart={{ opensearch_exporter_binary }} \
  --es.uri=http://{{ opensearch_admin_username }}:{{ opensearch_admin_password | urlencode }}@{{ opensearch_api_host }}:{{ opensearch_http_port }} \
  --es.all \
  --es.indices \
  --es.shards \
  --collector.clustersettings \
  --web.listen-address=:{{ opensearch_exporter_port }} \
  --web.telemetry-path=/metrics \
  --log.level=info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
