# OpenSearch Dashboards Configuration

server.port: {{ opensearch_dashboards_port }}
server.host: "{{ opensearch_dashboards_host }}"

# OpenSearch Connection

{% if opensearch_use_tls | bool %}
opensearch.hosts:
  - "https://{{ opensearch_dashboards_opensearch_host }}"

opensearch.ssl.verificationMode: none
opensearch.ssl.certificateAuthorities:
  - {{ opensearch_dashboards_config_dir }}/certs/root-ca.pem

{% else %}
opensearch.hosts:
  - "http://{{ opensearch_dashboards_opensearch_host }}"
{% endif %}

# Backend Service Auth

opensearch.username: "{{ opensearch_kibanaserver_username }}"
opensearch.password: "{{ opensearch_kibanaserver_password }}"

# UI Security

opensearch_security.enabled: true
opensearch_security.auth.type: "basicauth"

# TLS (Browser → Dashboards)

{% if opensearch_use_tls | bool %}
server.ssl.enabled: true
server.ssl.certificate: {{ opensearch_dashboards_config_dir }}/certs/node.pem
server.ssl.key: {{ opensearch_dashboards_config_dir }}/certs/node-key.pem
{% else %}
server.ssl.enabled: false
{% endif %}
