# ===========================
# OpenSearch Configuration
# ===========================

cluster.name: {{ opensearch_cluster_name }}-standalone
node.name: {{ opensearch_node_name }}

path.data: {{ opensearch_data_path }}
path.logs: {{ opensearch_logs_path }}

# ===========================
# Network
# ===========================
network.host: {{ opensearch_network_host }}
http.port: {{ opensearch_http_port }}
transport.port: {{ opensearch_transport_port }}

# ===========================
# Single Node
# ===========================
discovery.type: single-node

# ===========================
# Node Roles
# ===========================
node.roles:
{% for role in opensearch_node_roles %}
  - {{ role }}
{% endfor %}

# ===========================
# Bootstrap
# ===========================
bootstrap.memory_lock: false

# ===========================
# TLS Security
# ===========================

plugins.security.disabled: false
plugins.security.allow_default_init_securityindex: true

# ---------- Transport TLS ----------
plugins.security.ssl.transport.enabled: true
plugins.security.ssl.transport.pemcert_filepath: certs/{{ opensearch_tls_cert_file }}
plugins.security.ssl.transport.pemkey_filepath: certs/{{ opensearch_tls_key_file }}
plugins.security.ssl.transport.pemtrustedcas_filepath: certs/{{ opensearch_tls_root_ca_file }}
plugins.security.ssl.transport.enforce_hostname_verification: false

# ---------- HTTP TLS ----------
plugins.security.ssl.http.enabled: true
plugins.security.ssl.http.pemcert_filepath: certs/{{ opensearch_tls_cert_file }}
plugins.security.ssl.http.pemkey_filepath: certs/{{ opensearch_tls_key_file }}
plugins.security.ssl.http.pemtrustedcas_filepath: certs/{{ opensearch_tls_root_ca_file }}

# ===========================
# Monitoring
# ===========================
{% if opensearch_metrics_enabled | bool %}
opensearch.experimental.feature.telemetry.enabled: true
{% endif %}
