_meta:
  type: "rolesmapping"
  config_version: 2

all_access:
  backend_roles:
    - "admin"
  users:
    - "admin"

kibana_user:
  backend_roles:
    - "kibanauser"
  users:
    - "kibanaserver"

readall:
  backend_roles:
    - "readall"
